﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"AddamsRegular";src:url("AddamsRegular.eot?") format("eot"),url("AddamsRegular.woff") format("woff"),url("AddamsRegular.ttf") format("truetype"),url("AddamsRegular.svg#AddamsRegular") format("svg");font-weight:normal;font-style:normal;}
